dash
dash-bootstrap-components
plotly
pandas
numpy
gunicorn
flask-caching
sqlalchemy
SQLAlchemy>=2.0.0
psycopg2-binary>=2.9
flask-login
werkzeug
sqlalchemy
psycopg2-binary
flask
Flask-Session
pyarrow
fastparquet
flask_sqlalchemy
python-dotenv
