dash==2.14.2
dash-bootstrap-components==1.5.0
plotly
pandas
numpy
gunicorn
flask-caching
sqlalchemy
SQLAlchemy>=2.0.0
psycopg2-binary>=2.9
flask-login
werkzeug
sqlalchemy
psycopg2-binary
flask
Flask-Session
pyarrow
fastparquet
flask_sqlalchemy
python-dotenv
