{% extends "base.html" %}
{% block title %}Manage Study-Scenario Links{% endblock %}

{% block content %}
<div class="mb-3">
    <a href="{{ url_for('admin.admin_panel') }}" class="btn btn-outline-secondary">
        ← Back
    </a>
</div>
<div class="container mt-4">
    <h2>Manage Study-Scenario Links</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div>
        <p class="text-muted">Update assigned study to each scenario. Each scenario can only be linked to one study at a time. In each study, same scenario names are not allowed.</p>
    </div>

    <form method="POST">

        {% for scenario in scenarios %}

        <div class="card mb-3 p-3">

            <label class="form-label fw-bold">
                {{ scenario.name }}
            </label>

            <select class="form-select"
                    name="scenario_{{ scenario.id }}">
                {% if not scenario.study_id %}
                    <option value="" selected>
                        Deleted study / No study
                    </option>
                
                {% endif %}
                {% for study in studies %}
                    <option value="{{ study.id }}"
                        {% if scenario.study_id == study.id %}
                            selected
                        {% endif %}
                    >
                        {{ study.name }}
                    </option>
                {% endfor %}
                        
            </select>

        </div>

        {% endfor %}

        <button type="submit"
                class="btn btn-primary">
            Update Assignments
        </button>

    </form>
</div>

{% endblock %}
