<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}EPMG{% endblock %}</title>

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    >
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <a class="navbar-brand" href="/">EPMG</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
        <!-- LEFT -->
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    Recent Studies
                </a>
                <ul class="dropdown-menu">
                    {% for study in recent_studies %}
                    <li>
                        <a class="dropdown-item" href="{{ url_for('dash_home') }}?study_id={{ study.id }}">
                            {{ study.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                </li>

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    Archive
                </a>
                <ul class="dropdown-menu">
                    {% for study in archive_studies %}
                    <li>
                        <a class="dropdown-item" href="{{ url_for('dash_home') }}?study_id={{ study.id }}">
                            {{ study.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                </li>

                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    Ongoing Studies
                </a>
                <ul class="dropdown-menu">
                    {% for study in ongoing_studies %}
                    <li>
                        <a class="dropdown-item" href="{{ url_for('dash_home') }}?study_id={{ study.id }}">
                            {{ study.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            
                {% endif %}
            </li>
        </ul>

        <!-- RIGHT -->
        <ul class="navbar-nav ms-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                    href="#"
                    id="userDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                        Hello {{ current_user.username }}
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="userDropdown">

                        <li>
                            {% if current_user.role == "admin" %}
                                <a class="dropdown-item" href="/admin/panel">
                                    Admin Panel
                                </a>
                            
                            {% endif %}
                        </li>

                        <li><hr class="dropdown-divider"></li>

                        <li>
                            <a class="dropdown-item text-danger" href="/logout">
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>

<div class="container-fluid mt-3">
    {% block content %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
  window.addEventListener("message", (event) => {
    if (!event.data || event.data.type !== "DASH_URL_UPDATE") return;
    window.history.replaceState({}, "", event.data.url);
  });
</script>
</body>
</html>
